<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Faux Column CSS Layouts - 2 Column - faux-7-2-col</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="/admin/css/styles.css" />
  </head>
  <body>
    <!-- Begin Wrapper -->
    <div id="wrapper">
      <!-- Begin Header -->
      <div id="header">
        <h1>
          <a href="/">어드민</a>
        </h1>
      </div>
      <!-- End Header -->
      <!-- Begin Navigation -->
      <div id="navigation">Navigation Here</div>
      <!-- End Navigation -->
      <!-- Begin Faux Columns -->
      <div id="faux">
        <!-- Begin Left Column -->
        <div id="leftcolumn">
          <li>asd</li>
        </div>
        <!-- End Left Column -->
        <!-- Begin Right Column -->
        <div id="rightcolumn">
          <h1 style="margin: 20px;">멘토리스트</h1>

          <%- user %>

          <div class="clear"></div>
        </div>
        <!-- End Right Column -->
        <div class="clear"></div>
      </div>
      <!-- End Faux Columns -->
      <!-- Begin Footer -->
      <div id="footer">This is the Footer</div>
      <!-- End Footer -->
    </div>
    <!-- End Wrapper -->
  </body>
</html>
