<!DOCTYPE html>
<html>
  <head>
    <title>성공</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1 class="display-3">저장했습니다!</h1>
      <p class="lead">
        <strong>이제 매칭을 기다려주세요.</strong> 저희가 알아서 다
        해드리겠습니다!
      </p>
      <hr />

      <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button"
          >홈으로 돌아가기</a
        >
      </p>
    </div>
  </body>
</html>
