<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="alternate"
      type="application/json+oembed"
      href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F201373661576458"
      title="oEmbed Form"
    />
    <link
      rel="alternate"
      type="text/xml+oembed"
      href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F201373661576458"
      title="oEmbed Form"
    />
    <meta property="og:title" content="Dance Registration Form" />
    <meta
      property="og:url"
      content="https://form.jotform.com/201373661576458"
    />
    <meta
      property="og:description"
      content="Please click the link to complete this form."
    />
    <meta name="slack-app-id" content="AHNMASS8M" />
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico" />
    <link rel="canonical" href="https://form.jotform.com/201373661576458" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1"
    />
    <meta name="HandheldFriendly" content="true" />
    <title>정보수정</title>
    <link
      href="https://cdn.jotfor.ms/static/formCss.css?3.3.17796"
      rel="stylesheet"
      type="text/css"
    />
    <link
      type="text/css"
      media="print"
      rel="stylesheet"
      href="https://cdn.jotfor.ms/css/printForm.css?3.3.17796"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.17796"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=5dca5ac9a5e86d17235d90c1"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jotfor.ms/css/styles/payment/styles.css?3.3.17796"
    />
    <link type="text/css" rel="stylesheet" href="/users/css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>
    <script
      src="https://cdn.jotfor.ms/static/prototype.forms.js"
      type="text/javascript"
    ></script>
    <script
      src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.17796"
      type="text/javascript"
    ></script>
    <script src="/users/js/main.js" type="text/javascript"></script>
    <script src="/users/js/noinputlimit.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <form
      class="jotform-form"
      action="update_process"
      method="post"
      name="form_201373661576458"
      id="201373661576458"
      accept-charset="utf-8"
      autocomplete="on"
    >
      <input type="hidden" id="JWTContainer" value="" />
      <input type="hidden" id="cardinalOrderNumber" value="" />
      <div role="main" class="form-all">
        <ul class="form-section page-section">
          <li id="cid_1" class="form-input-wide" data-type="control_head">
            <div class="form-header-group header-large">
              <div class="header-text httal htvam">
                <h1 id="header_1" class="form-header" data-component="header">
                  정보를 수정해주세요!
                </h1>
                <div id="subHeader_1" class="form-subHeader">
                  자신이 어떤 상황에 놓여있는 지를 적어주세요! 아래 정보는
                  멘토분과 연결해 드릴 때 참고합니다. 정확히 작성해주세요.
                </div>
              </div>
            </div>
          </li>
          <li class="form-line" data-type="control_textbox" id="id_14">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_14"
              for="input_14"
            >
              이름
            </label>
            <div id="cid_14" class="form-input">
              <input
                type="text"
                id="input_14"
                name="FullName"
                data-type="input-textbox"
                class="form-textbox NullNotAccepted"
                size="20"
                value="<%= name %> "
                data-component="textbox"
                aria-labelledby="label_14"
              />
            </div>

          </li>
          <li class="form-line" data-type="control_email" id="id_4">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_4"
              for="input_4"
            >
              이메일주소
            </label>
            <div id="cid_4" class="form-input">
              <span
                class="form-sub-label-container"
                style="vertical-align: top;"
              >
                <input
                  type="email"
                  id="input_4"
                  name="email"
                  class="form-textbox validate[Email] NullNotAccepted"
                  size="32"
                  value="<%= email %> "
                  placeholder="ex: myname@example.com"
                  data-component="email"
                  aria-labelledby="label_4 sublabel_input_4"
                />
                <label
                  class="form-sub-label"
                  for="input_4"
                  id="sublabel_input_4"
                  style="min-height: 13px;"
                  aria-hidden="false"
                >
                  멘토분을 찾으면 이쪽으로 연락을 드릴게요!
                </label>
              </span>
            </div>
          </li>
          <li class="form-line" data-type="control_textbox" id="id_15">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_15"
              for="input_15"
            >
              카카오톡ID
            </label>
            <div id="cid_15" class="form-input">
              <span
                class="form-sub-label-container"
                style="vertical-align: top;"
              >
                <input
                  type="text"
                  id="input_15"
                  name="KakaoTalkID"
                  data-type="input-textbox"
                  class="form-textbox NullNotAccepted"
                  size="20"
                  value="<%= kakaotalkID %>"
                  data-component="textbox"
                  aria-labelledby="label_15 sublabel_input_15"
                />
                <label
                  class="form-sub-label"
                  for="input_15"
                  id="sublabel_input_15"
                  style="min-height: 13px;"
                  aria-hidden="false"
                >
                  멘토분을 찾으면 이쪽으로 연락을 드릴게요! 플러스친구 멘토포유!
                </label>
              </span>
            </div>
          </li>
          <li class="form-line" data-type="control_textbox" id="id_18">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_18"
              for="input_18"
            >
              현재 내신등급
            </label>
            <div id="cid_18" class="form-input">
              <input
                type="text"
                id="input_18"
                name="Score"
                data-type="input-textbox"
                class="form-textbox NullNotAccepted"
                size="20"
                value="<%= Score %>"
                data-component="textbox"
                aria-labelledby="label_18"
              />
            </div>
          </li>
          <!------------------------------------------------------>
          <li class="form-line" data-type="control_radio" id="id_21">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_21"
              for="input_21"
            >
              계열
            </label>
            <div id="cid_21" class="form-input">
              <div
                class="form-multiple-column"
                data-columncount="2"
                role="group"
                aria-labelledby="label_21"
                data-component="radio"
              >
                <span class="form-radio-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="radio"
                    class="form-radio radio-checkbox"
                    id="input_21_0"
                    name="class"
                    value="자연"
                  />
                  <label id="label_input_21_0" for="input_21_0"> 자연 </label>
                </span>
                <span class="form-radio-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="radio"
                    class="form-radio radio-checkbox"
                    id="input_21_1"
                    name="class"
                    value="인문"
                  />
                  <label id="label_input_21_1" for="input_21_1"> 인문 </label>
                </span>
              </div>
            </div>
          </li>

          <!---------------------------------------------------------->
          <!--자연-->
          <li
            class="form-line Liberal_Arts"
            data-type="control_checkbox"
            id="id_22"
            style="display: none;"
          >
            <label
              class="form-label form-label-left form-label-auto"
              id="label_22"
              for="input_22"
            >
              탐구선택과목
            </label>
            <div id="cid_22" class="form-input">
              <div
                class="form-multiple-column check"
                data-columncount="2"
                role="group"
                aria-labelledby="label_22"
                data-component="checkbox"
              >
                <span class="form-checkbox-item checker">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_22_0"
                    name="Selected"
                    value="물리I"
                  />
                  <label id="label_input_22_0" for="input_22_0"> 물리I </label>
                </span>
                <span class="form-checkbox-item checker">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_22_1"
                    name="Selected"
                    value="화학I"
                  />
                  <label id="label_input_22_1" for="input_22_1"> 화학I </label>
                </span>
                <span class="form-checkbox-item checker" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_22_2"
                    name="Selected"
                    value="지구과학I"
                  />
                  <label id="label_input_22_2" for="input_22_2">
                    지구과학I
                  </label>
                </span>
                <span class="form-checkbox-item checker">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_22_3"
                    name="Selected"
                    value="생명과학I"
                  />
                  <label id="label_input_22_3" for="input_22_3">
                    생명과학I
                  </label>
                </span>
                <span class="form-checkbox-item checker" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_22_4"
                    name="Selected"
                    value="물리II"
                  />
                  <label id="label_input_22_4" for="input_22_4">
                    물리II
                  </label>
                </span>
                <span class="form-checkbox-item checker">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_22_5"
                    name="Selected"
                    value="화학II"
                  />
                  <label id="label_input_22_5" for="input_22_5">
                    화학II
                  </label>
                </span>
                <span class="form-checkbox-item checker" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_22_6"
                    name="Selected"
                    value="지구과학II"
                  />
                  <label id="label_input_22_6" for="input_22_6">
                    지구과학II
                  </label>
                </span>
                <span class="form-checkbox-item checker">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_22_7"
                    name="Selected"
                    value="생명과학II"
                  />
                  <label id="label_input_22_7" for="input_22_7">
                    생명과학II
                  </label>
                </span>
              </div>
            </div>
          </li>
          <!---자연-->
          <script>
            $(function () {
              $("span.checker > input").on("click", function () {
                var count = $("span.checker > input:checked[type='checkbox']")
                  .length;
                if (count > 2) {
                  alert("2개까지만 선택이 가능합니다.");
                  $("span.checker > input:checked[type='checkbox']");
                  this.checked = false;
                } else {
                  if (this.checked === true) {
                    if ($("#label_20_col_4").text() === " 탐구1 ") {
                      $("#label_20_col_4").text(this.value);
                    } else {
                      $("#label_20_col_5").text(this.value);
                    }
                  } else {
                    $("#label_20_col_5").text(" 탐구2 ");
                    if (count === 0) {
                      $("#label_20_col_4").text(" 탐구1 ");
                    }
                  }
                }
              });
            });
          </script>
          <!----인문-->
          <li
            class="form-line Natural_Sciences"
            data-type="control_checkbox"
            id="id_23"
            style="display: none;"
          >
            <label
              class="form-label form-label-left form-label-auto"
              id="label_23"
              for="input_23"
            >
              탐구선택과목
            </label>
            <div id="cid_23" class="form-input">
              <div
                class="form-multiple-column"
                data-columncount="2"
                role="group"
                aria-labelledby="label_23"
                data-component="checkbox"
              >
                <span class="form-checkbox-item checker2">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_0"
                    name="Selected"
                    value="생활과 윤리"
                  />
                  <label id="label_input_23_0" for="input_23_0">
                    생활과 윤리
                  </label>
                </span>
                <span class="form-checkbox-item checker2">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_1"
                    name="Selected"
                    value="윤리와 사상"
                  />
                  <label id="label_input_23_1" for="input_23_1">
                    윤리와 사상
                  </label>
                </span>
                <span class="form-checkbox-item checker2" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_2"
                    name="Selected"
                    value="한국지리"
                  />
                  <label id="label_input_23_2" for="input_23_2">
                    한국지리
                  </label>
                </span>
                <span class="form-checkbox-item checker2">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_3"
                    name="Selected"
                    value="세계지리"
                  />
                  <label id="label_input_23_3" for="input_23_3">
                    세계지리
                  </label>
                </span>
                <span class="form-checkbox-item checker2" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_4"
                    name="Selected"
                    value="경제"
                  />
                  <label id="label_input_23_4" for="input_23_4"> 경제 </label>
                </span>
                <span class="form-checkbox-item checker2">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_5"
                    name="Selected"
                    value="정치와 법"
                  />
                  <label id="label_input_23_5" for="input_23_5">
                    정치와 법
                  </label>
                </span>
                <span class="form-checkbox-item checker2" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_6"
                    name="Selected"
                    value="사회문화"
                  />
                  <label id="label_input_23_6" for="input_23_6">
                    사회문화
                  </label>
                </span>
                <span class="form-checkbox-item checker2">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_7"
                    name="Selected"
                    value="동아시아사"
                  />
                  <label id="label_input_23_7" for="input_23_7">
                    동아시아사
                  </label>
                </span>
                <span class="form-checkbox-item checker2" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_23_8"
                    name="Selected"
                    value="세계사"
                  />
                  <label id="label_input_23_8" for="input_23_8"> 세계사 </label>
                </span>
              </div>
            </div>
          </li>
          <!---안문-->
          <script>
            $(function () {
              $("span.checker2 > input").on("click", function () {
                var count = $("span.checker2 > input:checked[type='checkbox']")
                  .length;
                if (count > 2) {
                  alert("2개까지만 선택이 가능합니다.");
                  $("span.checker2 > input:checked[type='checkbox']");
                  this.checked = false;
                } else {
                  if (this.checked === true) {
                    if ($("#label_20_col_4").text() === " 탐구1 ") {
                      $("#label_20_col_4").text(this.value);
                    } else {
                      $("#label_20_col_5").text(this.value);
                    }
                  } else {
                    $("#label_20_col_5").text(" 탐구2 ");
                    if (count === 0) {
                      $("#label_20_col_4").text(" 탐구1 ");
                    }
                  }
                }
              });
            });
          </script>

          <script>
            $(".radio-checkbox").click(function () {
              var a = $('.form-radio[name="class"]:checked').val();
              if (a === "자연") {
                $(".Liberal_Arts").css({ display: "block" });
                $(".Natural_Sciences").css({ display: "none" });
              } else {
                $(".Natural_Sciences").css({ display: "block" });
                $(".Liberal_Arts").css({ display: "none" });
              }
            });
          </script>
          <li class="form-line" data-type="control_matrix" id="id_20">
            <label
              class="form-label form-label-top"
              id="label_20"
              for="input_20"
            >
              최근 모의고사 점수(가장 최근 점수를 솔직하게 입력해주세요. 없다면
              다음으로.)
            </label>
            <div id="cid_20" class="form-input-wide">
              <table
                summary=""
                role="presentation"
                cellPadding="4"
                cellSpacing="0"
                class="form-matrix-table"
                style="width: 600px;"
                data-component="matrix"
              >
                <tr class="form-matrix-tr form-matrix-header-tr">
                  <th class="form-matrix-th" style="border: none;"></th>
                  <th
                    scope="col"
                    class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"
                  >
                    <label id="label_20_col_0"> 국어 </label>
                  </th>
                  <th
                    scope="col"
                    class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"
                  >
                    <label id="label_20_col_1"> 수학 </label>
                  </th>
                  <th
                    scope="col"
                    class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"
                  >
                    <label id="label_20_col_2"> 영어 </label>
                  </th>
                  <th
                    scope="col"
                    class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"
                  >
                    <label id="label_20_col_3"> 한국사 </label>
                  </th>
                  <th
                    scope="col"
                    class="form-matrix-headers form-matrix-column-headers form-matrix-column_4"
                  >
                    <label id="label_20_col_4"> 탐구1 </label>
                  </th>
                  <th
                    scope="col"
                    class="form-matrix-headers form-matrix-column-headers form-matrix-column_5"
                  >
                    <label id="label_20_col_5"> 탐구2 </label>
                  </th>
                </tr>
                <tr
                  class="form-matrix-tr form-matrix-value-tr"
                  role="group"
                  aria-labelledby="label_20 label_20_row_0"
                >
                  <th
                    scope="row"
                    class="form-matrix-headers form-matrix-row-headers"
                  >
                    <label id="label_20_row_0"> 등급 </label>
                  </th>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_0_0"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="RelativeGrade"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_0"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_0_1"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="RelativeGrade"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_1"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_0_2"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="RelativeGrade"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_2"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_0_3"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="RelativeGrade"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_3"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_0_4"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="RelativeGrade"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_4"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_0_5"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="RelativeGrade"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_5"
                    />
                  </td>
                </tr>
                <tr
                  class="form-matrix-tr form-matrix-value-tr"
                  role="group"
                  aria-labelledby="label_20 label_20_row_1"
                >
                  <th
                    scope="row"
                    class="form-matrix-headers form-matrix-row-headers"
                  >
                    <label id="label_20_row_1"> 원점수 </label>
                  </th>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_1_0"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="Test_origin_score"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_0"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_1_1"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="Test_origin_score"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_1"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_1_2"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="Test_origin_score"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_2"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_1_3"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="Test_origin_score"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_3"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_1_4"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="Test_origin_score"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_4"
                    />
                  </td>
                  <td class="form-matrix-values">
                    <input
                      type="text"
                      id="input_20_1_5"
                      class="form-textbox NullNotAccepted"
                      size="5"
                      name="Test_origin_score"
                      style="width: 100%; box-sizing: border-box;"
                      value=""
                      aria-labelledby="label_20_col_5"
                    />
                  </td>
                </tr>
              </table>
            </div>
          </li>
          <li class="form-line" data-type="control_radio" id="id_9">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_9"
              for="input_9"
            >
              성별
            </label>
            <div id="cid_9" class="form-input">
              <div
                class="form-multiple-column"
                data-columncount="2"
                role="group"
                aria-labelledby="label_9"
                data-component="radio"
              >
                <span class="form-radio-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="radio"
                    class="form-radio"
                    id="input_9_0"
                    name="Gender"
                    value="남"
                  />
                  <label id="label_input_9_0" for="input_9_0"> 남 </label>
                </span>
                <span class="form-radio-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="radio"
                    class="form-radio"
                    id="input_9_1"
                    name="Gender"
                    value="여"
                  />
                  <label id="label_input_9_1" for="input_9_1"> 여 </label>
                </span>
              </div>
            </div>
          </li>
          <li class="form-line" data-type="control_checkbox" id="id_16">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_16"
              for="input_16"
            >
              준비하는 전형 (중복선택가능)
            </label>
            <div id="cid_16" class="form-input">
              <div
                class="form-single-column"
                role="group"
                aria-labelledby="label_16"
                data-component="checkbox"
              >
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_16_0"
                    name="Strategy"
                    value="학생부 종합전형"
                  />
                  <label id="label_input_16_0" for="input_16_0">
                    학생부 종합전형
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_16_1"
                    name="Strategy"
                    value="학생부 교과전형"
                  />
                  <label id="label_input_16_1" for="input_16_1">
                    학생부 교과전형
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_16_2"
                    name="Strategy"
                    value="정시전형"
                  />
                  <label id="label_input_16_2" for="input_16_2">
                    정시전형
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_16_3"
                    name="Strategy"
                    value="논술전형"
                  />
                  <label id="label_input_16_3" for="input_16_3">
                    논술전형
                  </label>
                </span>
              </div>
            </div>
          </li>
          <li class="form-line" data-type="control_checkbox" id="id_17">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_17"
              for="input_17"
            >
              목표 대학 (중복선택가능)
            </label>
            <div id="cid_17" class="form-input">
              <div
                class="form-multiple-column"
                data-columncount="4"
                role="group"
                aria-labelledby="label_17"
                data-component="checkbox"
              >
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_0"
                    name="univ"
                    value="DGIST"
                  />
                  <label id="label_input_17_0" for="input_17_0"> DGIST </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_1"
                    name="univ"
                    value="GIST"
                  />
                  <label id="label_input_17_1" for="input_17_1"> GIST </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_2"
                    name="univ"
                    value="KAIST"
                  />
                  <label id="label_input_17_2" for="input_17_2"> KAIST </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_3"
                    name="univ"
                    value="UNIST"
                  />
                  <label id="label_input_17_3" for="input_17_3"> UNIST </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_4"
                    name="univ"
                    value="건국대"
                  />
                  <label id="label_input_17_4" for="input_17_4"> 건국대 </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_5"
                    name="univ"
                    value="경희대"
                  />
                  <label id="label_input_17_5" for="input_17_5"> 경희대 </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_6"
                    name="univ"
                    value="고려대"
                  />
                  <label id="label_input_17_6" for="input_17_6"> 고려대 </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_7"
                    name="univ"
                    value="국민대"
                  />
                  <label id="label_input_17_7" for="input_17_7"> 국민대 </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_8"
                    name="univ"
                    value="단국대"
                  />
                  <label id="label_input_17_8" for="input_17_8"> 단국대 </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_9"
                    name="univ"
                    value="동국대"
                  />
                  <label id="label_input_17_9" for="input_17_9"> 동국대 </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_10"
                    name="univ"
                    value="서강대"
                  />
                  <label id="label_input_17_10" for="input_17_10">
                    서강대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_11"
                    name="univ"
                    value="서울대"
                  />
                  <label id="label_input_17_11" for="input_17_11">
                    서울대
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_12"
                    name="univ"
                    value="서울시립대"
                  />
                  <label id="label_input_17_12" for="input_17_12">
                    서울시립대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_13"
                    name="univ"
                    value="성균관대"
                  />
                  <label id="label_input_17_13" for="input_17_13">
                    성균관대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_14"
                    name="univ"
                    value="세종대"
                  />
                  <label id="label_input_17_14" for="input_17_14">
                    세종대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_15"
                    name="univ"
                    value="숙명여대"
                  />
                  <label id="label_input_17_15" for="input_17_15">
                    숙명여대
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_16"
                    name="univ"
                    value="숭실대"
                  />
                  <label id="label_input_17_16" for="input_17_16">
                    숭실대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_17"
                    name="univ"
                    value="연세대"
                  />
                  <label id="label_input_17_17" for="input_17_17">
                    연세대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_18"
                    name="univ"
                    value="이화여대"
                  />
                  <label id="label_input_17_18" for="input_17_18">
                    이화여대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_19"
                    name="univ"
                    value="중앙대"
                  />
                  <label id="label_input_17_19" for="input_17_19">
                    중앙대
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_20"
                    name="univ"
                    value="포항공대"
                  />
                  <label id="label_input_17_20" for="input_17_20">
                    포항공대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_21"
                    name="univ"
                    value="한국외국어대"
                  />
                  <label id="label_input_17_21" for="input_17_21">
                    한국외국어대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_22"
                    name="univ"
                    value="한양대"
                  />
                  <label id="label_input_17_22" for="input_17_22">
                    한양대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_23"
                    name="univ"
                    value="홍익대"
                  />
                  <label id="label_input_17_23" for="input_17_23">
                    홍익대
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_24"
                    name="univ"
                    value="++의대"
                  />
                  <label id="label_input_17_24" for="input_17_24">
                    ++의대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_25"
                    name="univ"
                    value="치의대"
                  />
                  <label id="label_input_17_25" for="input_17_25">
                    치의대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_26"
                    name="univ"
                    value="한의대"
                  />
                  <label id="label_input_17_26" for="input_17_26">
                    한의대
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_27"
                    name="univ"
                    value="수의과대학"
                  />
                  <label id="label_input_17_27" for="input_17_27">
                    수의과대학
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_28"
                    name="univ"
                    value="경찰대학"
                  />
                  <label id="label_input_17_28" for="input_17_28">
                    경찰대학
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_29"
                    name="univ"
                    value="육군사관학교"
                  />
                  <label id="label_input_17_29" for="input_17_29">
                    육군사관학교
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_30"
                    name="univ"
                    value="공군사관학교"
                  />
                  <label id="label_input_17_30" for="input_17_30">
                    공군사관학교
                  </label>
                </span>
                <span class="form-checkbox-item">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_31"
                    name="univ"
                    value="해군사관학교"
                  />
                  <label id="label_input_17_31" for="input_17_31">
                    해군사관학교
                  </label>
                </span>
                <span class="form-checkbox-item" style="clear: left;">
                  <span class="dragger-item"> </span>
                  <input
                    type="checkbox"
                    class="form-checkbox"
                    id="input_17_32"
                    name="univ"
                    value="간호사관학교"
                  />
                  <label id="label_input_17_32" for="input_17_32">
                    간호사관학교
                  </label>
                </span>
              </div>
            </div>
          </li>
          <li class="form-line" data-type="control_textarea" id="id_10">
            <label
              class="form-label form-label-left form-label-auto"
              id="label_10"
              for="input_10"
            >
              간단한 자기소개
            </label>
            <div id="cid_10" class="form-input">
              <textarea
                id="input_10"
                class="form-textarea"
                name="SelfIntroduction"
                cols="40"
                rows="6"
                data-component="textarea"
                aria-labelledby="label_10"
              ></textarea>
            </div>
          </li>
          <li class="form-line" data-type="control_button" id="id_2">
            <div id="cid_2" class="form-input-wide">
              <div
                style="text-align: center;"
                data-align="center"
                class="form-buttons-wrapper form-buttons-center jsTest-button-wrapperField"
              >
                <button
                  id="input_2"
                  type="submit"
                  class="form-submit-button submit-button jf-form-buttons jsTest-submitField realsubmit"
                  data-component="button"
                  data-content=""
                  style="display: none; margin: 0 auto; text-align: center;"
                >
                  제출
                </button>
                <button
                id="input_2"
                type="button"
                class="form-submit-button submit-button jf-form-buttons jsTest-submitField fakesubmit"
                data-component="button"
                data-content=""
                style="margin: 0 auto; text-align: center;"
              >
                제출
              </button>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </form> 
    <script>
       function noInputAlert(target) {
    console.log("noinputalert done");
    jason = $(`.${target}`);
    if (jason.val() === "") {
      alert(`채워지지 않은 곳이 있습니다! 확인해주세요!`);
    }

    function noCheckAlert(target) {
      jason = $(target);
      if (jason.prop("checked") == false) {
        alert(`Something not checked!`);
      }
    }
  }

  $(".fakesubmit").click(function () {
    console.log("clicked");
    noInputAlert("NullNotAccepted");
  });
  $("input").click(function(){
    console.log("clicked")

    if
      (
        $(`.NullNotAccepted:eq(0)`).val() !== "" &&
       $(".NullNotAccepted:eq(1)").val() !== "" &&
       $(".NullNotAccepted:eq(2)").val() !== "" &&
       $(".NullNotAccepted:eq(3)").val() !== "" &&
       $(".NullNotAccepted:eq(4)").val() !== "" &&
       $(".NullNotAccepted:eq(5)").val() !== "" &&
       $(".NullNotAccepted:eq(6)").val() !== "" &&
       $(".NullNotAccepted:eq(7)").val() !== "" &&
       $(".NullNotAccepted:eq(8)").val() !== "" &&
       $(".NullNotAccepted:eq(9)").val() !== "" &&
       $(".NullNotAccepted:eq(10)").val() !== "" &&
       $(".NullNotAccepted:eq(11)").val() !== "" &&
       $(".NullNotAccepted:eq(12)").val() !== "" &&
       $(".NullNotAccepted:eq(13)").val() !== "" &&
       $(".NullNotAccepted:eq(14)").val() !== "" &&
       $(".NullNotAccepted:eq(15)").val() !== "" 

      )
        {
          $(".fakesubmit").css({"display" : "none"})
          $(".realsubmit").css({"display" : "block"})
        } else{
          $(".fakesubmit").css({"display" : "block"})
          $(".realsubmit").css({"display" : "none"})
        }

  })
 

    </script>
  </body>
</html>
